body { background: #35c79d; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 33px; display: flex; }
.block-database-0 { color: #75e53c; font-size: 14px; margin-bottom: 5px; }
.block-invoice-1 { color: #c6c6a0; font-size: 15px; margin-bottom: 5px; }
.block-auth-2 { color: #86a487; font-size: 20px; margin-bottom: 5px; }
.block-shipping-3 { color: #d5ec88; font-size: 15px; margin-bottom: 5px; }
.block-validator-4 { color: #797385; font-size: 20px; margin-bottom: 5px; }
.block-order-5 { color: #ef824d; font-size: 21px; margin-bottom: 5px; }
.block-token-6 { color: #e1c1f7; font-size: 19px; margin-bottom: 5px; }
.block-validator-7 { color: #15f7b6; font-size: 19px; margin-bottom: 5px; }